.rules {
    fposition: relative;
}
.rules-button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding:10px 30px;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius:8px;
}
.modal {
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-content > h2 {
    text-transform: uppercase;
}
.rules-image {
    margin: 100px 0;
}
@media screen and (min-width: 1366px) {
    .rules-button {
        bottom: 0;
    }
    
  }