.header {
    margin-top: 25px;
    display: flex;
    border: 2px solid rgba(155,155,155,0.7);
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    justify-content: space-between;
    text-transform: uppercase;
  }
  .game-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .game-name div {
    font-size: 1.2rem;
  }
  .score {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: white;
    color: hsl(229, 64%, 46%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .score-number {
    font-size: 2rem;
    color: hsl(229, 25%, 31%);
  }

  @media screen and (min-width: 1366px) {
    .header {
      width: 600px;
      font-size: 1.5rem;
    }
    .game-name div {
      font-size: 1.5rem;
  }
    .score {
      border: 1px solid white;
      border-radius: 5px;
      padding: 10px 35px;
      background-color: white;
      color: hsl(229, 64%, 46%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }
    .score-number {
      font-size: 3rem;
      color: hsl(229, 25%, 31%);
    }
  }