body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.header {
  display: flex;
  border: 1px solid black;
  width: 200px;
  justify-content: space-between;

}
.game-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.triangle-up {
  display: flex;
  
}
.triangle-down {
  display: flex;
  justify-content: center;
}
.image {
 background-color: #fff;
 
}
.start, .result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.rules {
  color: #fff;
}
.image {
  margin: 12px;
}
.paper{
  height: 50px;
  width:50px;
  border-radius: 50%;
  border-color: transparent;
  border: 15px solid #4664F4;
  background-size: 50%;
  padding: 20px;
}

.rock {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  border: 15px solid #DB2E4D;
  background-size: 50%;
  padding: 20px;
}
.scissors {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  border: 15px solid #EB9F0E;
  background-size: 50%;
  padding: 20px;
}

.result_rock {

}
.icons {
  display: flex;
}
.who-win-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 50px;
}
.new-game-button {
  display: flex;
  justify-content:center;
}
