@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.header {
  display: flex;
  border: 1px solid #fff;
  padding: 20px;
  width: 200px;
  justify-content: space-between;
  text-transform: uppercase;
}
.game-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}

.triangle-up {
  display: flex;
  
}
.triangle-down {
  display: flex;
  justify-content: center;
}
.image {
 background-color: #fff;
 margin: 15px;
 
}
.start-image {
  /*transition: all 0.2s;*/
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  display: flex;
  
  cursor: pointer;
  align-self: center;
  position: relative;
}
.start-image:hover {
  /*transform: scale(1.1)*/
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale();
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale();
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale();
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.start, .result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.rules {
  color: #fff;
}
.image {
  fmargin: 20px;
}
.paper{
  height: 50px;
  width:50px;
  border-radius: 50%;
  border-color: transparent;
  border: 15px solid #4664F4;
  background-size: 50%;
  padding: 20px;
}

.rock {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  border: 15px solid #DB2E4D;
  background-size: 50%;
  padding: 20px;
}
.scissors {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  border: 15px solid #EB9F0E;
  background-size: 50%;
  padding: 20px;
}

.icons {
  display: flex;
}
.who-win-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 25px;
}
.new-game-wrapper {
  display: flex;
  justify-content:center;
  margin-top:25px;
}
.new-game-button {
  padding: 12px 50px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
}
.you-picked {
  
  text-align: center;
  text-transform: uppercase;
}
.house-picked {
  text-align: center;
  text-transform: uppercase;
}
.result-image {
 
}
.rules {
  position: absolute;
  bottom: 5%;
  font-size: 2rem;
}
.rules > button {
  padding:10px 30px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius:8px;
}
button {
  font-family: 'Barlow Semi Condensed', sans-serif;
  
}

.modal {
  fdisplay: none;
  fbackground-color:rgba(0, 0, 0, 0.7)
}
.modal-content {

}